/*punch: #204F98*/
/*skc: #2bb673*/
/*erasmus: #e59126*/

body {
    margin-top: 48px;
    background-color: #dadada;
}

.section {
    margin-top: 20px;
}

.page-section {
    margin-bottom: 20px;
}

.bg-punch {
    background-color: #204F98;
}

.bg-erasmus {
    background-color: #e59126;
}

.bg-erasmus-secondary {
    background: #1d3859;
}

.bg-skc {
    background-color: #2bb673;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}