html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1 1 auto;
  background-color: transparent;
}

.placeLabel {
  margin-bottom: 15px;
  background: none;
  border: none;
  box-shadow: none;
}

.place-to-guess {
  font-weight: bold;
}

#app {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#game {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.last-score {
  padding: .25rem;
  border-radius: .25rem;
}

.score-result {
  font-weight: 600;
}